// Fonts
$default-font: Arial, sans-serif;

// Color
$white: #fff;
$black-soft: #232728;
$gold: #E0B160;


// Color block
$bg-color: $black-soft;
$font-color__default: $white;
$font-color__worker: $gold;
$border-color: $gold;
$hover-link: $gold;

// Size document
$min-width: 320px;
$min-height: 568px;

